/*

Template: Sofbox - Responsive Software Landing Page
Author: iqonicthemes.in
Version: 3.0
Design and Developed by: iqonicthemes.in

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. Please do not change anything here! write in a custom.css file if required!

*/


*::-moz-selection { background: #00c8c8; color: #fff; text-shadow: none; }
::-moz-selection { background: #00c8c8; color: #fff; text-shadow: none; }
::selection { background: #00c8c8; color: #fff; text-shadow: none; }

header.menu-sticky.header-white { background: #fff; }

.button { background-image: linear-gradient(to right, #246bad 0%, #00c8c8 51%, #246bad 100%); }
.button:hover, .button:focus { background-position: right center; }


/*---------------------------------------------------------------------
                            Text Color 
-----------------------------------------------------------------------*/
.iq-banner .iq-video, .iq-works-box .step,.iq-footer3 .link li a:hover, .iq-banner-04 .iq-video, .iq-border-block .step, .iq-footer .iq-contact .contact-block i, .iq-footer .post-blog a:hover, .iq-footer .footer-menu li a:hover, .iq-footer .iq-copyright a:hover, .iq-amazing-tab .nav.nav-tabs li a.active i, .iq-amazing-tab .nav.nav-tabs li a.active:hover i, .iq-amazing-tab .nav.nav-tabs li a.active:focus i, .iq-amazing-tab .nav.nav-tabs li a:hover, .iq-amazing-tab .nav.nav-tabs li a:hover i, .counter-info .iq-video, .iq-progress-bar-text, .iq-blog-detail a:hover, .iq-blog-detail .blog-title a:hover h5, .iq-footer-box .iq-icon i, .footer-copyright a, .iq-breadcrumb .breadcrumb li.active, .iq-breadcrumb .breadcrumb li a:hover, .pagination .page-link, .iq-sidebar-widget .iq-widget-search i, .iq-widget-menu ul li a span:hover, .iq-widget-menu ul ul li a span:hover, .iq-sidebar-widget .iq-recent-post .media-body>a:hover, .iq-tags li a:hover, .iq-widget-archives li a:hover, .iq-comment-list .iq-comment-metadata i, header.header-fancy .navbar .navbar-nav .nav-item a:hover, header.header-fancy .navbar .navbar-nav .nav-item a:focus, header.header-fancy .navbar .navbar-nav .nav-item a.active, header.header-fancy .navbar .navbar-nav .nav-item a.active:focus, header.header-fancy .navbar .navbar-nav .nav-item a.active:hover,  header.header-white .navbar .navbar-nav .nav-item a:focus, header.header-white .navbar .navbar-nav .nav-item a.active:focus, header.header-white .navbar .navbar-nav .nav-item a.active:hover, .terms-of-service .btn.btn-link, .iq-amazing-tab .nav.nav-tabs li a.active1 i, .iq-amazing-tab .nav.nav-tabs li a.active1:hover i, .iq-banner-03 .iq-video, .iq-feature .step-number,.iq-blog-detail a:hover { color: #00c8c8; }

/*---------------------------------------------------------------------
                          Background Color 
-----------------------------------------------------------------------*/
.heading-title .title:before, .iq-amazing-tab .nav.nav-tabs li a:before, .iq-border-block:before, .iq-border-block:after, .iq-border-block > .border-box:before, .iq-border-block > .border-box:after, .iq-amazing-tab .nav.nav-tabs li a:hover:before, .iq-amazing-tab .nav.nav-tabs li a:focus:before, .iq-fancy-box:hover .iq-icon, .iq-client:before, .owl-carousel .owl-nav i:hover, .iq-team .share ul li a:hover, .iq-accordion .ad-title:before, .owl-carousel.owl-theme .owl-dots .owl-dot.active span, .owl-carousel.owl-theme .owl-dots .owl-dot:hover span, .owl-carousel.arrow-1 .owl-nav i:hover, .button.bt-white:hover, .button.bt-white:focus, .info-share li a:hover, .iq-error h6, .pagination .page-item.active .page-link, .blue-bg, header.header-white .navbar .navbar-nav .nav-item a::before { background: rgba(36, 107, 173, 1); background: -moz-linear-gradient(-45deg, rgba(36, 107, 173, 1) 0%, rgba(0, 200, 200, 1) 100%); background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(36, 107, 173, 1)), color-stop(100%, rgba(0, 200, 200, 1))); background: -webkit-linear-gradient(-45deg, rgba(36, 107, 173, 1) 0%, rgba(0, 200, 200, 1) 100%); background: -o-linear-gradient(-45deg, rgba(36, 107, 173, 1) 0%, rgba(0, 200, 200, 1) 100%); background: -ms-linear-gradient(-45deg, rgba(36, 107, 173, 1) 0%, rgba(0, 200, 200, 1) 100%); background: linear-gradient(135deg, rgba(36, 107, 173, 1) 0%, rgba(0, 200, 200, 1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#246bad', endColorstr='#00c8c8', GradientType=1); }

header.menu-sticky, #back-to-top .top:hover { background: rgba(0, 200, 200, 0.9); }

/*---------------------------------------------------------------------
                       Background Gradient 
---------------------------------------------------------------------*/

.iq-over-blue-10:before { background: rgba(36, 107, 173, 0.1); background: -moz-linear-gradient(-45deg, rgba(36, 107, 173, 0.1) 0%, rgba(0, 200, 200, 0.1) 100%); background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(36, 107, 173, 0.1)), color-stop(100%, rgba(0, 200, 200, 0.1))); background: -webkit-linear-gradient(-45deg, rgba(36, 107, 173, 0.1) 0%, rgba(0, 200, 200, 0.1) 100%); background: -o-linear-gradient(-45deg, rgba(36, 107, 173, 0.1) 0%, rgba(0, 200, 200, 0.1) 100%); background: -ms-linear-gradient(-45deg, rgba(36, 107, 173, 0.1) 0%, rgba(0, 200, 200, 0.1) 100%); background: linear-gradient(135deg, rgba(36, 107, 173, 0.1) 0%, rgba(0, 200, 200, 0.1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#246bad', endColorstr='#00c8c8', GradientType=1); }
.iq-over-blue-20:before { background: rgba(36, 107, 173, 0.2); background: -moz-linear-gradient(-45deg, rgba(36, 107, 173, 0.2) 0%, rgba(0, 200, 200, 0.2) 100%); background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(36, 107, 173, 0.2)), color-stop(100%, rgba(0, 200, 200, 0.2))); background: -webkit-linear-gradient(-45deg, rgba(36, 107, 173, 0.2) 0%, rgba(0, 200, 200, 0.2) 100%); background: -o-linear-gradient(-45deg, rgba(36, 107, 173, 0.2) 0%, rgba(0, 200, 200, 0.2) 100%); background: -ms-linear-gradient(-45deg, rgba(36, 107, 173, 0.2) 0%, rgba(0, 200, 200, 0.2) 100%); background: linear-gradient(135deg, rgba(36, 107, 173, 0.2) 0%, rgba(0, 200, 200, 0.2) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#246bad', endColorstr='#00c8c8', GradientType=1); }
.iq-over-blue-30:before { background: rgba(36, 107, 173, 0.3); background: -moz-linear-gradient(-45deg, rgba(36, 107, 173, 0.3) 0%, rgba(0, 200, 200, 0.3) 100%); background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(36, 107, 173, 0.3)), color-stop(100%, rgba(0, 200, 200, 0.3))); background: -webkit-linear-gradient(-45deg, rgba(36, 107, 173, 0.3) 0%, rgba(0, 200, 200, 0.3) 100%); background: -o-linear-gradient(-45deg, rgba(36, 107, 173, 0.3) 0%, rgba(0, 200, 200, 0.3) 100%); background: -ms-linear-gradient(-45deg, rgba(36, 107, 173, 0.3) 0%, rgba(0, 200, 200, 0.3) 100%); background: linear-gradient(135deg, rgba(36, 107, 173, 0.3) 0%, rgba(0, 200, 200, 0.3) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#246bad', endColorstr='#00c8c8', GradientType=1); }
.iq-over-blue-40:before { background: rgba(36, 107, 173, 0.4); background: -moz-linear-gradient(-45deg, rgba(36, 107, 173, 0.4) 0%, rgba(0, 200, 200, 0.4) 100%); background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(36, 107, 173, 0.4)), color-stop(100%, rgba(0, 200, 200, 0.4))); background: -webkit-linear-gradient(-45deg, rgba(36, 107, 173, 0.4) 0%, rgba(0, 200, 200, 0.4) 100%); background: -o-linear-gradient(-45deg, rgba(36, 107, 173, 0.4) 0%, rgba(0, 200, 200, 0.4) 100%); background: -ms-linear-gradient(-45deg, rgba(36, 107, 173, 0.4) 0%, rgba(0, 200, 200, 0.4) 100%); background: linear-gradient(135deg, rgba(36, 107, 173, 0.4) 0%, rgba(0, 200, 200, 0.4) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#246bad', endColorstr='#00c8c8', GradientType=1); }
.iq-over-blue-50:before { background: rgba(36, 107, 173, 0.5); background: -moz-linear-gradient(-45deg, rgba(36, 107, 173, 0.5) 0%, rgba(0, 200, 200, 0.5) 100%); background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(36, 107, 173, 0.5)), color-stop(100%, rgba(0, 200, 200, 0.5))); background: -webkit-linear-gradient(-45deg, rgba(36, 107, 173, 0.5) 0%, rgba(0, 200, 200, 0.5) 100%); background: -o-linear-gradient(-45deg, rgba(36, 107, 173, 0.5) 0%, rgba(0, 200, 200, 0.5) 100%); background: -ms-linear-gradient(-45deg, rgba(36, 107, 173, 0.5) 0%, rgba(0, 200, 200, 0.5) 100%); background: linear-gradient(135deg, rgba(36, 107, 173, 0.5) 0%, rgba(0, 200, 200, 0.5) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#246bad', endColorstr='#00c8c8', GradientType=1); }
.iq-over-blue-60:before { background: rgba(36, 107, 173, 0.6); background: -moz-linear-gradient(-45deg, rgba(36, 107, 173, 0.6) 0%, rgba(0, 200, 200, 0.6) 100%); background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(36, 107, 173, 0.6)), color-stop(100%, rgba(0, 200, 200, 0.6))); background: -webkit-linear-gradient(-45deg, rgba(36, 107, 173, 0.6) 0%, rgba(0, 200, 200, 0.6) 100%); background: -o-linear-gradient(-45deg, rgba(36, 107, 173, 0.6) 0%, rgba(0, 200, 200, 0.6) 100%); background: -ms-linear-gradient(-45deg, rgba(36, 107, 173, 0.6) 0%, rgba(0, 200, 200, 0.6) 100%); background: linear-gradient(135deg, rgba(36, 107, 173, 0.6) 0%, rgba(0, 200, 200, 0.6) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#246bad', endColorstr='#00c8c8', GradientType=1); }
.iq-over-blue-70:before { background: rgba(36, 107, 173, 0.7); background: -moz-linear-gradient(-45deg, rgba(36, 107, 173, 0.7) 0%, rgba(0, 200, 200, 0.7) 100%); background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(36, 107, 173, 0.7)), color-stop(100%, rgba(0, 200, 200, 0.7))); background: -webkit-linear-gradient(-45deg, rgba(36, 107, 173, 0.7) 0%, rgba(0, 200, 200, 0.7) 100%); background: -o-linear-gradient(-45deg, rgba(36, 107, 173, 0.7) 0%, rgba(0, 200, 200, 0.7) 100%); background: -ms-linear-gradient(-45deg, rgba(36, 107, 173, 0.7) 0%, rgba(0, 200, 200, 0.7) 100%); background: linear-gradient(135deg, rgba(36, 107, 173, 0.7) 0%, rgba(0, 200, 200, 0.7) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#246bad', endColorstr='#00c8c8', GradientType=1); }
.iq-over-blue-80:before { background: rgba(36, 107, 173, 0.8); background: -moz-linear-gradient(-45deg, rgba(36, 107, 173, 0.8) 0%, rgba(0, 200, 200, 0.8) 100%); background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(36, 107, 173, 0.8)), color-stop(100%, rgba(0, 200, 200, 0.8))); background: -webkit-linear-gradient(-45deg, rgba(36, 107, 173, 0.8) 0%, rgba(0, 200, 200, 0.8) 100%); background: -o-linear-gradient(-45deg, rgba(36, 107, 173, 0.8) 0%, rgba(0, 200, 200, 0.8) 100%); background: -ms-linear-gradient(-45deg, rgba(36, 107, 173, 0.8) 0%, rgba(0, 200, 200, 0.8) 100%); background: linear-gradient(135deg, rgba(36, 107, 173, 0.8) 0%, rgba(0, 200, 200, 0.8) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#246bad', endColorstr='#00c8c8', GradientType=1); }
.iq-over-blue-85:before { background: rgba(36, 107, 173, 0.85); background: -moz-linear-gradient(-45deg, rgba(36, 107, 173, 0.85) 0%, rgba(0, 200, 200, 0.85) 100%); background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(36, 107, 173, 0.85)), color-stop(100%, rgba(0, 200, 200, 0.85))); background: -webkit-linear-gradient(-45deg, rgba(36, 107, 173, 0.85) 0%, rgba(0, 200, 200, 0.85) 100%); background: -o-linear-gradient(-45deg, rgba(36, 107, 173, 0.85) 0%, rgba(0, 200, 200, 0.85) 100%); background: -ms-linear-gradient(-45deg, rgba(36, 107, 173, 0.85) 0%, rgba(0, 200, 200, 0.85) 100%); background: linear-gradient(135deg, rgba(36, 107, 173, 0.85) 0%, rgba(0, 200, 200, 0.85) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#246bad', endColorstr='#00c8c8', GradientType=1); }
.iq-over-blue-90:before { background: rgba(36, 107, 173, 0.9); background: -moz-linear-gradient(-45deg, rgba(36, 107, 173, 0.9) 0%, rgba(0, 200, 200, 0.9) 100%); background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(36, 107, 173, 0.9)), color-stop(100%, rgba(0, 200, 200, 0.9))); background: -webkit-linear-gradient(-45deg, rgba(36, 107, 173, 0.9) 0%, rgba(0, 200, 200, 0.9) 100%); background: -o-linear-gradient(-45deg, rgba(36, 107, 173, 0.9) 0%, rgba(0, 200, 200, 0.9) 100%); background: -ms-linear-gradient(-45deg, rgba(36, 107, 173, 0.9) 0%, rgba(0, 200, 200, 0.9) 100%); background: linear-gradient(135deg, rgba(36, 107, 173, 0.9) 0%, rgba(0, 200, 200, 0.9) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#246bad', endColorstr='#00c8c8', GradientType=1); }
.iq-over-blue-95:before,  header.menu-sticky { background: rgba(36, 107, 173, 0.95); background: -moz-linear-gradient(-45deg, rgba(36, 107, 173, 0.95) 0%, rgba(0, 200, 200, 0.95) 100%); background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(36, 107, 173, 0.95)), color-stop(100%, rgba(0, 200, 200, 0.95))); background: -webkit-linear-gradient(-45deg, rgba(36, 107, 173, 0.95) 0%, rgba(0, 200, 200, 0.95) 100%); background: -o-linear-gradient(-45deg, rgba(36, 107, 173, 0.95) 0%, rgba(0, 200, 200, 0.95) 100%); background: -ms-linear-gradient(-45deg, rgba(36, 107, 173, 0.95) 0%, rgba(0, 200, 200, 0.95) 100%); background: linear-gradient(135deg, rgba(36, 107, 173, 0.95) 0%, rgba(0, 200, 200, 0.95) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#246bad', endColorstr='#00c8c8', GradientType=1); }


.iq-works-box:hover, .iq-works-box.round-icon:hover .icon-bg { box-shadow: 0 0 40px rgba(0, 200, 200, 0.6); -webkit-box-shadow: 0 0 40px rgba(0, 200, 200, 0.6); -moz-box-shadow: 0 0 40px rgba(0, 200, 200, 0.6); }
.iq-team .iq-team-img:before { background: rgba(0, 200, 200, 0); background: -moz-linear-gradient(top, rgba(0, 200, 200, 0) 0%, rgba(0, 200, 200, 1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 200, 200, 0)), color-stop(100%, rgba(0, 200, 200, 1))); background: -webkit-linear-gradient(top, rgba(0, 200, 200, 0) 0%, rgba(0, 200, 200, 1) 100%); background: -o-linear-gradient(top, rgba(0, 200, 200, 0) 0%, rgba(0, 200, 200, 1) 100%); background: -ms-linear-gradient(top, rgba(0, 200, 200, 0) 0%, rgba(0, 200, 200, 1) 100%); background: linear-gradient(to bottom, rgba(0, 200, 200, 0) 0%, rgba(0, 200, 200, 1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c8c8', endColorstr='#00c8c8', GradientType=0); }

/*---------------------------------------------------------------------
                      		 Boder Color 
---------------------------------------------------------------------*/
.iq-objects .iq-objects-04, .iq-objects-software .iq-objects-03, .iq-objects-asked .iq-objects-03, .owl-carousel.owl-theme .owl-dots .owl-dot.active span, .owl-carousel.owl-theme .owl-dots .owl-dot:hover span, .contact-form .section-field input:focus, .contact-form .section-field.textarea textarea:focus, .info-share li a:hover, .pagination .page-item.active .page-link, .iq-sidebar-widget .iq-widget-search input:focus, .iq-tags li a:hover, .blockquote, blockquote { border-color: #00c8c8; }

@media(max-width:992px) {
	.navbar-light .navbar-toggler span, header .navbar .navbar-nav .nav-item a:hover, header .navbar .navbar-nav .nav-item a:focus, header .navbar .navbar-nav .nav-item a.active, header .navbar .navbar-nav .nav-item a.active:focus, header .navbar .navbar-nav .nav-item a.active:hover { color: #00c8c8; }
}